@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

/* @custom-variant dark (&:is(.dark *)); */

@theme inline {
    --color-background: #0A0A0A;
    --color-surface: #0E0E0E;
    --color-card: #141414;
    --color-elevated-surface: #1A1A1A;
    --color-border: #242424;

    --color-text-primary: #F5F5F5;
    --color-text-secondary: #A3A3A3;
    --color-text-muted: #737373;

    --color-brand: #22C55E;
    --color-brand-lighter: #4ADE80;
    --color-brand-darker: #16A34A;
    --color-brand-soft: #22C55E1A;

    --color-success: #86EFAC;
    --color-success-lighter: #BBF7D0;
    --color-success-darker: #4ADE80;
    --color-success-soft: #86EFAC1A;

    --color-warning: #FACC15;
    --color-warning-lighter: #FDE68A;
    --color-warning-darker: #EAB308;
    --color-warning-soft: #FACC151A;

    --color-error: #F87171;
    --color-error-lighter: #FCA5A5;
    --color-error-darker: #EF4444;
    --color-error-soft: #F871711A;

    --color-info: #93C5FD;
    --color-info-lighter: #BFDBFE;
    --color-info-darker: #60A5FA;
    --color-info-soft: #93C5FD1A;

    --color-chart-primary: #22C55E;
    --color-chart-secondary: #737373;
    --color-chart-tertiary: #525252;
    --color-chart-grid: #242424;
    --color-chart-axis: #525252;
    --color-chart-label: #A3A3A3;


    --radius-xs: 4px;
    --radius-sm: 6px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-xl: 16px;
    --radius-full: 9999px;

    --text-xs: 12px;
    --text-sm: 13px;
    --text-base: 14px;
    --text-md: 15px;
    --text-lg: 16px;
    --text-xl: 18px;
    --text-2xl: 22px;
    --text-3xl: 28px;
}


/* Button utilities */

@utility button--sm {
    @apply text-sm/normal px-3 rounded-md h-9 gap-2 [&_svg:not([class*='size-'])]:size-4.5;
}

@utility button--md {
    @apply text-md/normal px-4 rounded-md h-11 gap-2 [&_svg:not([class*='size-'])]:size-6;
}

@utility button--icon-sm {
    @apply size-9 rounded-md [&_svg:not([class*='size-'])]:size-4.5;
}

@utility button--icon-md {
    @apply size-11 rounded-md [&_svg:not([class*='size-'])]:size-6;
}

/* Input utilities */

@utility input--sm {
    @apply h-9 px-3 text-sm/normal rounded-sm;
}

@utility input--md {
    @apply h-11 px-3 text-md/normal rounded-sm;
}

/* Select utilities */

@utility select--sm {
    @apply h-9 gap-1.5 px-3 text-sm/normal rounded-sm [&_svg:not([class*='size-'])]:size-4.5;
}

@utility select--md {
    @apply h-11 gap-2 px-3 text-md/normal rounded-sm [&_svg:not([class*='size-'])]:size-5;
}

/* Switch utilities */

@utility switch--sm {
    @apply h-3.5 w-6;
}

@utility switch--md {
    @apply h-4 w-7;
}

@utility switch--thumb-sm {
    @apply size-3;
}

@utility switch--thumb-md {
    @apply size-3.5;
}

/* Avatar utilities */

@utility avatar--sm {
    @apply size-6 text-xs;
}

@utility avatar--md {
    @apply size-8 text-sm;
}

@utility avatar--lg {
    @apply size-10 text-base;
}